@use "open-props-scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Listy bez kropek */
ul {
  list-style: none;
}

/* SVG nieinteraktywne */
svg {
  user-select: none;
  pointer-events: none;
  transform: scale(1.05);
}

/* Layout */
body {
  width: 100vw;
  height: 100vh;

}
button {
  cursor: pointer;
}